body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #FFF 0%, #49B6FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    color: #ffffff;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
  }
  
  form {
    background: linear-gradient(180deg, #008AC1 0%, #ffffff 100%);
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
  }
  
  form label{
    color: #ffffff;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-top: auto;
  }

  form input {
    background-color: #85e5ff;
    display: block;
    width: 94%;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

    border: 1px solid #000;
    box-shadow:0 0 5px #07332E;
    transition: 250ms all ease-in;
  }
  form input:hover{
    border: 1px solid #fffefe;
    box-shadow:0 0 5px #07332E;
    background-color: #ffffff;
  }
  form input:focus{
    border: 1px solid #fffefe;
    box-shadow:0 0 5px #07332E;
    background-color: #ffffff;
  }
  
  span {
    color: red;
    font-size: 12px;
  }
  
  button {
    position: relative;
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #48e7ff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #ffffff;
  }
  