body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #FFF 0%, #49B6FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    position: relative;
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #00FED9;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  