<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="../css/signup.css">
</head>
<body>

  <form id="signup-form">
    <h1>Sign Up</h1>
    <label for ="username">Username</label>
    <input type="text" id="username" placeholder="Enter your Username">
    <span id="username-error"></span>

    <label for ="password">Password</label>
    <input type="password" id="password" placeholder="Enter you Password">
    <span id="password-error"></span>

    <label for ="confirm password">Confirm Password</label>
    <input type="password" id="confirm-password" placeholder="Re enter your Password">
    <span id="confirm-password-error"></span>

    <button type="submit">Submit</button>
  </form>
  <script src="../js/signup.js"></script>
</body>
</html>
